# <center>**Functions** <center>

## 1. def

**Newbie Level**

Write a function named `calculate_area` that takes a length and a width as arguments and returns the area of a rectangle. Call the function with `5` and `10` and print the result.

In [1]:
def calculate_area(length,width):
    return length * width

In [2]:
calculate_area(5,10)

50

**Mid Level**

Write a function `greetings` that takes a name and an optional argument `language` with a default value of `'English'`. The function should return a greeting string like `"Hello, [Name]!"` or `"Hola, [Name]!"` based on the language. Call the function once without the language and once with `language='Spanish'`.

Show Solution

In [3]:
def greetings(name,language= 'English'):
    if language == 'English':
        return (f'Hello {name}!')
    elif language == 'Spanish':
        return f'Hola {name}!'
    else: 
        return f'Hello {name}!I don\'t know the language!!!'

In [4]:
greetings('Farman', language = 'Urdu')

"Hello Farman!I don't know the language!!!"

**Pro Level**

Imagine you have a series of messy text data. Write a function `clean_text_data` that takes a string, removes punctuation like `!`, `#`, and `?`, and converts the string to title case. This function will be a reusable "tool" for later data cleaning tasks.

In [5]:
import re
def clean_text_data(data):
     data = data.strip()
     data = re.sub(r'[!$%,?]','', data)
     data = data.title()              
     return data

In [6]:
clean_text_data('  FaRman!!  ')

'Farman'

## 2.Scope and Namespaces

**Newbie Level**

Write a function `my_workshop` that creates a local variable `hammer = "local hammer"`. After the function call, try to print the value of `hammer` outside of the function. What happens and why?

In [7]:
def my_workshop():
    hammer = 'local hammer' 

print(hammer)

#if we get an error then the code is successful

NameError: name 'hammer' is not defined

**Mid Level**

Create a global variable `counter = 0`. Write a function `increment_counter` that attempts to add `1` to `counter`. Use the `global` keyword to correctly modify the `counter` variable. Call the function twice and print the final value.

In [8]:
counter = 100
def increment_counter():
    global counter
    counter += 1
    print(f'Inside  counter = {counter}')

print(f'intial count = {counter}')
increment_counter()
increment_counter()
print(f'final counter = {counter}')

intial count = 100
Inside  counter = 101
Inside  counter = 102
final counter = 102

**Pro Level**

Consider a function `outer_function` that defines a variable `x = 5`. Inside, it defines and calls a nested function `inner_function`. `inner_function` should reassign the value of `x` to `10`. Using the `nonlocal` keyword, modify `x` in the nested function and print the value of `x` inside the outer function after the nested function is called.

In [9]:
def outer_function():
    x = 5
    print(f'outer_function before non local: {x}')
    def inner_function():
        nonlocal x
        x = x+10
        print(f'inner function: {x}')
    inner_function()
    print(f'outer function after non local: {x}')

outer_function()

outer_function before non local: 5
inner function: 15
outer function after non local: 15

## 3. Returning Multiple Values

***Newbie Level***

Write a function `get_details` that returns a user's name and age. Call the function and unpack the two returned values into variables `name` and `age` before printing them.

In [10]:
def get_details():
    name = ['Ali', 'Agha', 'Haris']
    age  = [14,15,11]
    return name,age

name,age = get_details()
details_dict = dict(zip(name,age))
print(details_dict)

{'Ali': 14, 'Agha': 15, 'Haris': 11}

**Mid Level**

Create a list of numbers: `[2, 8, 3, 10, 5]`. Write a function `calculate_stats` that returns the minimum value, the maximum value, and the sum of all elements from this list. Print all three returned values with clear labels.

In [11]:
numbers = [2,8,3,10,5]
def calculate_stats(data_list):
    sum_val  = sum(data_list) 
    max_val  = max(data_list) 
    min_val  = min(data_list)
    mean_val = sum_val/len(data_list)
    return  sum_val, max_val, min_val,mean_val
sum_val, max_val, min_val, mean_val = calculate_stats(numbers)
print(f'mean: {mean_val}, sum: {sum_val}, max: {max_val}, min: {min_val}')

mean: 5.6, sum: 28, max: 10, min: 2

**Pro Level**

Write a function `process_data` that takes a list of strings and a list of numeric values. The function should count the number of string entries that start with `'A'` and return that count along with a new list containing the string entries filtered to those that start with `'A'`. Also, return the total sum of the numeric values. Use the string list `['Apple', 'Banana', 'Avocado']` and the number list `[1, 2, 3]` as an example.

In [12]:
def process_data(strings, integer):
    filtered_list = [x for x in strings if x.startswith('A')]
    filtered_list_count = len(filtered_list)
    total_sum = sum(integer)
    return filtered_list, filtered_list_count, total_sum

fruit = ['Apple', 'Banana', 'Avocado']
numbers = [1,2,3]
filtered_list, filtered_list_count, total_sum = process_data(strings = fruit, integer = numbers)
print(f'filtered_list: {filtered_list}, filtered_list_count: {filtered_list_count}, total_sum: {total_sum}')

filtered_list: ['Apple', 'Avocado'], filtered_list_count: 2, total_sum: 6

## 4. Functions as Objects

**Newbie Level**

Assign a built-in Python function, such as `max`, to a new variable called `find_max`. Then, use `find_max` to find the largest number in a list. This demonstrates that a function can be referenced by another variable.

In [13]:
find_max = max
list_1 = [9,6,33,90,28,91]
list_1_maximum = find_max(list_1)

In [14]:
list_1_maximum

91

**Mid Level**

Create two simple functions: `add_one` and `double_it`. Create a list of these function objects. Then, write a loop that iterates through a list of numbers and applies each function from your list to every number, printing the intermediate and final results.

In [15]:
def add_one(x):
    return x + 1

def double_it(x):
    return x * 2

ops = [add_one, double_it]

num = [4,5,6,10,30]
for n in num:
    result = n
    print(f'Starting with: {result}')
    for op in ops:
        result = op(result)
        print(f'After applying {op.__name__}: {result}')
    print(f'Final result: {result}\n')

Starting with: 4
After applying add_one: 5
After applying double_it: 10
Final result: 10

Starting with: 5
After applying add_one: 6
After applying double_it: 12
Final result: 12

Starting with: 6
After applying add_one: 7
After applying double_it: 14
Final result: 14

Starting with: 10
After applying add_one: 11
After applying double_it: 22
Final result: 22

Starting with: 30
After applying add_one: 31
After applying double_it: 62
Final result: 62

**Pro Level**

Using the `clean_text_data` function you wrote earlier, create a new function `data_pipeline` that takes a list of messy strings and a list of functions (like `[str.strip, str.upper]`). The `data_pipeline` function should apply each function from the list to every string and return the final list of cleaned strings. This is a true data cleaning pipeline!

In [16]:
import re
def to_strip(x):
    return x.strip()
def to_upper(x):
    return x.upper()                             #these three are our operations
def clean_text_data(text):
    clean_text = re.sub(r'[!@#%?]','',text)
    return clean_text.title()


operations = [to_strip, to_upper, clean_text_data] # this is the list of our operatioins 


def data_pipeline(string_list, operations):  #this is our final pipeline that will use the operations list
    result = []
    for s in string_list:
        processed_string = s
        for op in operations:
            processed_string = op(processed_string)
        result.append(processed_string)
    return(result)
messy_string = ['!!apple  ', 'ball   ','%cat']

cleaned_string = data_pipeline(messy_string, [to_strip, clean_text_data])
print(cleaned_string)



# **note**  indentation matter strictly, one space can cause the code to go wild

['Apple', 'Ball', 'Cat']

## 5. Anonymous (Lambda) Functions

**Newbie Level**

Create a lambda function that squares a given number. Assign it to a variable `square`. Call the function with `5` and print the result. This shows that a lambda can be stored in a variable, but it's not a common use case.

In [17]:
squared = lambda x : x ** 2 #you can also use x * x for squaring 
result = squared(10)
print(result)

100

**Mid Level**

You have a list of tuples: `data = [('Apple', 2), ('Banana', 5), ('Cherry', 1)]`. Sort this list based on the **second** element of each tuple (the number) in ascending order. Use the `sorted()` function with a lambda function as the `key` argument.

In [18]:
data = [('Apple', 2), ('Banana', 5), ('Cherry', 1)]
sorted_data = sorted(data, key = lambda item: item[1])  
# key is a parameter of the sorted function, and it only works when
# a function is passed. You can't pass list comprehension here

In [19]:
sorted_data

[('Cherry', 1), ('Apple', 2), ('Banana', 5)]

**Pro Level**

You have a list of dictionaries, `users = [{'name': 'Alice', 'age': 30}, {'name': 'Bob', 'age': 25}]`. Write a lambda function to extract the `age` from each dictionary. Then, use the `map()` function along with your lambda to create a new list containing just the ages of all the users.

In [30]:
users = [{'name': 'Alice', 'age': 30}, {'name': 'Bob', 'age': 25}]
get_ages = lambda user: user['age']
ages_generator = map(get_ages,users) #this will give an iterator item

ages_list = list(ages_generator) #you have to list or tuple that iterator item

In [31]:
ages_list

[30, 25]

# 6. Generators

**Newbie Level**

Write a generator function `count_up` that yields numbers from 1 to 3. Create the generator object and then iterate through it with a `for` loop, printing each yielded number. This demonstrates the basic `yield` keyword.

In [36]:
def count_up():
    print('Generator Starting....')
    yield 1
    yield 2
    yield 3
    print('Generator finshed....')
my_gen = count_up()

for num in my_gen:
    print(num + 5)

Generator Starting....
6
7
8
Generator finshed....

**Mid Level**

Use a generator expression to square all numbers in a list `[1, 2, 3, 4, 5]`. Pass this generator expression directly to the built-in `sum()` function to calculate the total sum of the squares. This shows how generators can be used without creating a full list in memory.

In [44]:
numbers = [1, 2, 3, 4, 5]

square_gen = (x ** 2 for x in numbers)
total = sum(square_gen)

In [45]:
total

55

**Pro Level**

Write a generator function `read_large_file` that takes a file path as an argument. The function should **yield** one line from the file at a time, stripping any whitespace. This is the pattern used to process massive files efficiently. (For this example, you can create a simple `sample.txt` file and read from it.)

In [ ]:
read_large_files =